Asteroids/[Ll]ibrary/
Asteroids/[Tt]emp/
Asteroids/[Oo]bj/
Asteroids/[Bb]uild/
Asteroids/[Bb]uilds/
Asteroids/[Ll]ogs/
Asteroids/[Mm]emoryCaptures/
!Asteroids/[Aa]ssets/**/*.meta
Asteroids/[Aa]ssets/Plugins/Editor/JetBrains*
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.unitypackage
crashlytics-build.properties